<header>
    <div class="container-fluid">
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-3">
                    <div class="logo">
                        <h2>myShop</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search-container">
                        <div>
                            <span class="material-icons">search</span>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <div class="col-md-3">
                    <app-header-categories></app-header-categories>
                </div>
                <div class="col-lg-6">
                    <app-app-menu></app-app-menu>
                </div>
                <div class="col-lg-3 text-right">
                    <div class="cart-icon-wrapper">
                        <div class="cart-icon">
                            <span class="material-icons">shopping_cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
