.app-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app-menu ul li {
    display: inline-block;
}

.app-menu ul li a {
    color: #fff;
    display: block;
    margin: 10px 20px 10px 0;
}